<div class="container">
  <br />
  <h3>
    <mark>Гра:</mark>{{ name }}
    <small>{{ version }}</small>
  </h3>

  <div class="alert alert-success">
    Властивості:
    <ul>
      <li>
        Ціна: <strong>{{ price }}</strong
        >грн
      </li>
    </ul>
    Класи гри:
    <ul>
      <li>
        <strong>{{ game_type.ftype }}</strong>
      </li>
      <li>
        <strong>{{ game_type.stype }}</strong>
      </li>
      <li>
        <strong>{{ game_type.ttype }}</strong>
      </li>
    </ul>
  </div>

  Редагування даних гри:
  <button class="btn btn-danger" (click)="showEdit()">Редагувати</button> <br>
  <form *ngIf=isEdit>
    <div class="form-group">
      <input type="text" placeholder="Введіть нову назву" class="form-control" [(ngModel)]="name" name="name"/><br>
      <input type="text" placeholder="Введіть нову версію" class="form-control" [(ngModel)]="version" name="version"/><br>
      <input type="number" placeholder="Введіть нову ціну" class="form-control" [(ngModel)]="price" name="price"/><br>
      <input type="text" placeholder="Введіть новий клас гри" class="form-control" [(ngModel)]="game_type.ftype" name="ftype"/><br>
      <input type="text" placeholder="Введіть новий клас гри" class="form-control" [(ngModel)]="game_type.stype" name="stype"/><br>
      <input type="text" placeholder="Введіть новий клас гри" class="form-control" [(ngModel)]="game_type.ttype" name="ttype"/><br>
    </div>
  </form>

  <form (submit)="addOpt(option.value)">
    <div class="form-group">
      <label for="option">Додання нової можливості</label>
      <input
        type="text"
        id="option"
        placeholder="Введіть нову можливість"
        class="form-control"
        #option
      />
      <button type="submit" class="btn btn-outline-success">Додати</button>
    </div>
  </form>

  Можливості гри:
  <div class="alert alert-warning">
    <ul>
      <li *ngFor="let opt of options">
        {{ opt }}
        <button class="btn btn-warning btn-sm" (click)="deleteOpt(opt)">
          X
        </button>
      </li>
    </ul>
  </div>

  Виберіть гру:
  <br />
  <button class="btn btn-danger" (click)="gameSelect('cs')">
    Counter-Strike
  </button>
  <button class="btn btn-success" (click)="gameSelect('dota')">Dota 2</button>
  <button class="btn btn-info" (click)="gameSelect('fortnite')">
    Fortnite
  </button>
</div>
